<h1>Lightning Games</h1>
<p>Here you will find a selection of classic games for various operating systems.</p>
<ng-container *ngIf="featuredGames$ | async as featuredGames">
    <ng-container *ngIf="featuredGames.length > 0">
        <h2>Our featured games</h2>
        <div fxLayout="column" fxLayoutGap="8px">
            <mat-card *ngFor="let game of featuredGames">
                <mat-card-title>{{game.name}}</mat-card-title>
                <mat-card-subtitle>{{game.genre}}</mat-card-subtitle>
                <mat-card-content>
                    <div fxLayout="row">
                        <div>Released</div>
                        <div>{{game.releaseDate}}</div>
                    </div>
                    <p>{{game.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>
</ng-container>
