<h1 fxLayout="row wrap">
    <span fxFlex>Your list of games</span>
    <button fxFlex="nogrow" mat-fab color="primary" routerLink="create" matTooltip="Add a new Game">
        <mat-icon>add</mat-icon>
    </button>
</h1>
<ng-container *ngIf="games$ | async as games">
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-card *ngFor="let game of games">
            <mat-card-title>{{game.name}}</mat-card-title>
            <mat-card-subtitle>{{game.genre}}</mat-card-subtitle>
            <mat-card-content>
                <p>{{game.description}}</p>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="end">
                <a routerLink="{{game.gameId}}/edit" mat-icon-button color="primary"><mat-icon>edit</mat-icon></a>
                <button mat-icon-button color="accent" (click)="setFeatured(game)"><mat-icon>star</mat-icon></button>
                <button mat-icon-button color="warn" (click)="deleteGame(game)"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-container>
