<mat-toolbar color="primary">
    <span>Lightning Games</span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/homepage">Homepage</a>
            <a mat-list-item routerLink="/games">Games</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
        <div class="bottom-spacer"></div>
    </mat-sidenav-content>
</mat-sidenav-container>
